
@import url('./__logo/resources__logo.css');
@import url('./__logo-zone/resources__logo-zone');


.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }