@import url("./__social-icon/footer__social-icon.css");
@import url("./__author/footer__author.css");
@import url("./__column-links/footer__column-links.css");
@import url("./__columns/footer__columns.css");
@import url("./__column/footer__column.css");
@import url("./__column-heading/footer__column-heading.css");
@import url("./__column-link/footer__column-link.css");

.footer {
  display: flex;
  background: #1f1f1f;
  min-height: 350px;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}
