.footer__column-links {
    padding-left: 0;
    padding-bottom: 0;
    list-style-type: none;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    align-items: center;
    margin: 20px 0 16px 0;
  }

  .footer__column-links:hover {
    transition: linear 1s;
    opacity: 0.5;
  }