h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/*keyframes-------------------------------------*/
@keyframes rotation_animation {
  from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Mix-------------------------------------*/
.rotation_animation {
  animation-name: rotation_animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/*body-> page*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  left: 64px;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  width: 183px;
  height: 32px;
  margin-top: 30px;
  position: absolute;
  top: 0;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  left: 64px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background: #2f80ed;
  position: absolute;
}

/* description */
.description {
  padding-bottom: 70px;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 700;
}

/*techniques*----------------------------------*/
.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 2px solid burlywood;
  
}

.section-title_techniques {
  text-align: center;
  border: 2px solid burlywood;
}

.section-subtitle_techniques{
  border: 2px solid burlywood;
}

.cards {
  width: 920px;
  border: 2px solid burlywood;
}

.cards__item {
  border: 2px solid burlywood;
}

.cards__image {
  border: 2px solid burlywood;
}

.cards__title {
  border: 2px solid burlywood;
}

.cards__descriptions {
  border: 2px solid burlywood;
}

/*video------------------*/
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid burlywood;
}

.section-title_video {
  border: 2px solid burlywood;
}

.section-subtitle_video {
  border: 2px solid burlywood;

}

.iframes {
  display: flex;
}

.video__iframe {
  border: 2px solid burlywood;
  height: 316px;
  width: 515px;
}


/* digits*/
.digits {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  width: 60%;
  font-weight: 700;
  line-height: 69px;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.table__row {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  text-align: left;
}

.table__heading {
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  padding-bottom: 20px;
}

/*feinman*/
.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__logo {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  padding: 0px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  padding-top: 70px;
  z-index: 1;
}

.feynman__link {
  color: #000000;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

/*kaufman*/
.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-bottom: 90px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table__row_theme_dark {
  padding-top: 80px;
}

.table__heading_theme_dark {
  margin-top: 0;
  margin-bottom: 0;
}

.table__row_theme_dark_2 {
  padding-top: 80px;
}

.table__row_theme_dark .table__text_theme_dark {
  padding-bottom: 0;
}

.table__text_theme_dark {
  padding-bottom: 0;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.kaufman__triangle {
  position: absolute;
  bottom: -170px;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background: #1f1f1f;
  min-height: 350px;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}

.footer__container-half {
  width: 50%;
  display: flex;
}
.footer__columns {
  display: flex;
  width: 90%;
  min-width: 711px;
  flex-basis: auto;
}

.footer__column {
  flex-direction: column;
}

.footer__column_content_copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  width: 183px;
  height: 35px;
}

.footer__container-half_position_right > .footer__container-half {
  justify-content: flex-end;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.footer__column-links {
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__column-links a {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footer__column_content_social {
  margin-right: 10px;
  background-repeat: no-repeat;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
  align-items: center;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
